{% extends extend_with %}

{% block maincontent %}
    {{ lipsum(n=5, html=True, min=3, max=5) }}
    <div>
    (try to logout before testing this out, forms also chained)
    <a href="{{ url_for('main.lorem_ipsum') }}" class="btn btn-info">Ipsum without required login</a><br>
    <a href="{{ url_for('main.lorem_ipsum_login_required') }}" class="btn btn-info" style="margin-top: 4px;">Ipsum with required login</a>

    <br>
    <br>
        <a href="{{ url_for('main.page_with_links') }}" class="btn btn-primary">First page with links</a><br>
    </div>
{% endblock %}